Source: ampy
Section: net
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 8.0.0), python, dh-python
Standards-Version: 3.9.3
Homepage: http://wand.net.nz/projects/details/storage-network-monitoring-and-measurement-data
#Vcs-Git: git://git.debian.org/collab-maint/ampy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ampy.git;a=summary

Package: ampy
Architecture: any
# XXX temporarily remove python dependencies, as Debian doesn't package most
# of the ones that we use
#Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, python, postgresql, postgresql-client, libnntsc-client, memcached, python-psycopg2, python-pylibmc
Description: Interface between amp-web and nntsc data storage.
 Interface between amp-web and nntsc data storage.
