#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean asdb-full.sql

override_dh_compress:
	dh_compress usr/share/ampy/database.sql usr/share/ampy/views.sql usr/share/ampy/asdb-full.sql

override_dh_install:
	cat asdb.sql > asdb-full.sql
	w3m -dump http://www.cidr-report.org/as2.0/autnums.html | grep "^AS" | sed "s/'/\\'\\'/g" | awk 'BEGIN { print "BEGIN;"} {printf "INSERT INTO asmap VALUES (" substr($$1, 3) ",'\''"; for (i=2; i<NF; i++) printf $$i " "; printf $$NF; print "'\'');"} END { print "COMMIT;"}' >> asdb-full.sql
	dh_install
